.form-section
{
    grid-column: 2;
    display: grid;
    grid-template-rows: 40px 1fr;
}

.section-header
{
    grid-row: 1;
}

.section-content
{
    grid-row: 2;
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    margin: 0 20px 0 20px;
}

.subsection-content
{
    margin: 0 10px 0 10px;
}